{% extends 'home.html' %}
{% block head %}
<title>Welcome!</title>
{% endblock %}
{% block body %}
<h1>Welcome to the job world </h1>
<h2>Find Jobs according to your needs</h2>
<h1>Login to your account</h1>
<div class="col-md-4">
</div>
<div class="col-md-4">
<div class="card">
	<div class="card-body">
<form class='form' method="POST">
	
	<label>Email</label><br>
	<input type="email" name="mail" id="mail" class="form-control" placeholder="Email" required="required"><br>
	<label>Password</label><br>
	<input type="password" name="pass" id="pass" class="form-control" placeholder="Password" required="required"><br><br>
	<input type="submit" class="btn btn-primary btn-block btn-lg" value="Login"><br>

</form>
<p>Not a member? <a href="/signup">Sign Up</a></p>
</div>
</div>
</div>
{% endblock %}